<header class="site-header">
  <div class="container">
    <nav class="site-nav">
      <a class="site-title" href="{{ '/' | relative_url }}">
        {{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}
      </a>
      <span class="nav-links">
        <a href="{{ '/' | relative_url }}" {% if page.title == 'about' %}class="active"{% endif %}>about</a>
        <a href="{{ '/publications/' | relative_url }}" {% if page.title == 'publications' %}class="active"{% endif %}>publications</a>
        <a href="{{ '/talks/' | relative_url }}" {% if page.title == 'talks' %}class="active"{% endif %}>talks</a>
        <a href="{{ '/assets/pdf/cv.pdf' | relative_url }}">cv</a>
        <a href="{{ '/thoughts/' | relative_url }}" {% if page.title == 'thoughts' %}class="active"{% endif %}>thoughts</a>
      </span>
    </nav>
  </div>
</header>
